# Exploratory Data Analysis: WebMD Reviews of Type 2 Diabetes Treatments

## Introduction:
Project Description:
[Enter text here]

### Contents:
 - Read in scraped data
 - Perform QA on data from scrape
 - Exploratory Data Analysis
 - Insights

#### Read in scraped data:
First, let's import numpy and pandas, and read in the scraped data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
reviews = pd.read_csv('webmd_reviews.csv')

Take a look at some sample data

In [3]:
reviews.sample(10)

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction
4823,10/30/2013 6:14:09 PM,NaN,Type 2 Diabetes Mellitus,Invokana oral,5,4,1,65-74 Female on Treatment for less than 1 mon...,4
584,2/6/2008 12:41:44 PM,NaN,Type 2 Diabetes Mellitus,Avandia oral,5,4,6,"mikeoco, 65-74 Male on Treatment for 2 to les...",3
3229,2/26/2008 3:35:16 PM,NaN,Type 2 Diabetes Mellitus,Actos oral,5,4,1,"chowdawgpup65, 65-74 Male on Treatment for 1 ...",4
3748,12/24/2012 2:07:01 PM,NaN,Type 2 Diabetes Mellitus,Actos oral,5,5,1,"amadio, 75 or over Male on Treatment for 10 y...",5
1397,1/7/2009 9:52:52 PM,NaN,Type 2 Diabetes Mellitus,metformin oral,2,2,2,"xring, 55-64 Male on Treatment for less than ...",1
1611,9/24/2009 3:58:57 AM,NaN,Type 2 Diabetes Mellitus,metformin oral,4,2,5,"bramaw, 55-64 Female on Treatment for 1 to 6 ...",1
522,2/26/2009 11:56:36 AM,NaN,Type 2 Diabetes Mellitus,Lantus Solostar subcutaneous,5,3,9,"tndsteward, 35-44 Female on Treatment for les...",3
573,12/13/2007 12:52:36 AM,I have taken this medication for the last 10 y...,Type 2 Diabetes Mellitus,Avandia oral,4,3,2,"Victim of Avandia, 55-64 Female on Treatment ...",1
4517,5/5/2010 12:41:15 PM,NaN,Additional Medication for Diabetes Type 2,Byetta subcutaneous,4,5,6,"karenb, 65-74 Female on Treatment for 2 to le...",5
2455,3/23/2012 10:38:58 AM,NaN,Type 2 Diabetes Mellitus,nateglinide oral,5,4,5,65-74 Female (Patient),2

In [4]:
reviews.columns

Index(['Rdate', 'comment', 'condition', 'drug', 'easeofuse', 'effectiveness',
       'helpful', 'reviewer', 'satisfaction'],
      dtype='object')

#### Perform Basic QA

Now let's check against WebMD to ensure counts and classifications were scraped as expected.

Reference URL: https://www.webmd.com/drugs/2/condition-594/type%202%20diabetes%20mellitus

How many reviews did we pull?

In [5]:
len(reviews.drug)

5495

How many unique drugs with reviews did we scrape?

In [6]:
reviews['drug'].nunique()

70

How many reviews from each drug did we scrape?

In [7]:
reviews['drug'].value_counts()

metformin oral                               1227
Actos oral                                    622
Januvia oral                                  440
Byetta subcutaneous                           373
Janumet oral                                  208
glipizide oral                                195
Invokana oral                                 193
glimepiride oral                              172
Trulicity subcutaneous                        126
Glucophage oral                               111
Bydureon subcutaneous                         110
Onglyza oral                                  106
glyburide oral                                101
Avandia oral                                   96
Amaryl oral                                    95
Tradjenta oral                                 90
Farxiga oral                                   72
Actoplus MET oral                              68
Kombiglyze XR oral                             58
Levemir Flexpen subcutaneous                   56
Lantus Solostar subcutaneous                   56
Victoza 2-Pak subcutaneous                     51
Lantus subcutaneous                            47
Glumetza oral                                  46
Jardiance oral                                 46
pioglitazone oral                              44
Prandin oral                                   39
Tanzeum subcutaneous                           33
Levemir subcutaneous                           32
Starlix oral                                   31
                                             ...
sitagliptin oral                               17
Glucotrol oral                                 17
Fortamet oral                                  17
Glucotrol XL oral                              15
glipizide-metformin oral                       15
DUETACT oral                                   15
Jentadueto oral                                14
Toujeo SoloStar subcutaneous                   14
Novolog subcutaneous                           14
Glyxambi oral                                  14
Novolog Mix 70-30 FlexPen subcutaneous         14
Humalog subcutaneous                           13
Avandaryl oral                                 12
Xigduo XR oral                                 11
Precose oral                                   11
nateglinide oral                               11
Humalog KwikPen subcutaneous                   10
Levemir FlexTouch subcutaneous                  9
Oseni oral                                      9
Synjardy oral                                   8
Admelog U-100 Insulin lispro subcutaneous       8
Humulin 70-30 subcutaneous                      8
Apidra subcutaneous                             8
Invokamet oral                                  7
Micronase oral                                  7
Humalog Mix 75-25 KwikPen subcutaneous          7
Humalog Mix 75-25 subcutaneous                  7
pioglitazone-metformin oral                     6
Novolin R injection                             6
Riomet oral                                     6
Name: drug, Length: 70, dtype: int64

We searched for "Type 2 Diabetes Mellitus" on WebMD, but are these the only conditions?  Let's check.

In [8]:
reviews['condition'].value_counts()

Type 2 Diabetes Mellitus                     4955
Additional Medication for Diabetes Type 2     483
Diabetes                                       41
Type 1 Diabetes Mellitus                       16
Name: condition, dtype: int64

Ok, so 90% of our reviews are specifically for Type II Diabetes Mellitus, 9% on "Additional Medication for Type II"

In [9]:
reviews['reviewer'].nunique()

3916

Check for null values.

In [10]:
np.sum(reviews.isnull())

Rdate               0
comment          4520
condition           0
drug                0
easeofuse           0
effectiveness       0
helpful             0
reviewer          253
satisfaction        0
dtype: int64

Uh oh!  4,520 null comments out of 5,495 reviews...this can't be right. Let's grab examples and debug.

In [21]:
reviews.loc[reviews.isnull().any(axis=1), :]

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction
1,9/18/2007 11:18:23 AM,NaN,Type 2 Diabetes Mellitus,metformin oral,5,4,9,"cutie54, 45-54 Female on Treatment for 1 to 6...",5
3,4/5/2011 1:31:52 PM,NaN,Type 2 Diabetes Mellitus,Kombiglyze XR oral,5,4,4,25-34 Female on Treatment for less than 1 mon...,4
4,3/7/2011 4:35:50 PM,NaN,Type 2 Diabetes Mellitus,Kombiglyze XR oral,3,1,8,45-54 Male (Patient),1
6,3/25/2015 12:19:46 PM,NaN,Type 2 Diabetes Mellitus,Afrezza inhalation,5,5,9,"tipe2, 35-44 Male on Treatment for less than ...",5
7,3/24/2015 5:08:47 PM,NaN,Type 2 Diabetes Mellitus,Afrezza inhalation,1,1,1,55-64 Female on Treatment for 1 to 6 months (...,1
9,10/21/2007 10:23:33 AM,NaN,Type 2 Diabetes Mellitus,Actoplus MET oral,5,5,2,35-44 Male on Treatment for 1 to less than 2 ...,5
10,10/14/2007 9:24:09 PM,NaN,Type 2 Diabetes Mellitus,Actoplus MET oral,5,5,6,"muzings, 45-54 Male on Treatment for 6 months...",5
11,10/14/2007 8:59:09 PM,NaN,Type 2 Diabetes Mellitus,Actoplus MET oral,4,4,4,55-64 Female on Treatment for 6 months to les...,4
13,5/7/2014 3:05:19 PM,NaN,Type 2 Diabetes Mellitus,Farxiga oral,5,4,2,"Karmacomes knockin, 55-64 Female",4
15,9/21/2007 10:48:32 AM,love it,Type 2 Diabetes Mellitus,Avandia oral,3,3,4,NaN,4
19,10/16/2007 4:33:20 PM,works fast and for long periods of time,Type 2 Diabetes Mellitus,Lantus subcutaneous,5,4,6,NaN,4
20,9/19/2007 5:10:22 PM,NaN,Type 2 Diabetes Mellitus,Lantus subcutaneous,4,2,1,"TeresaJo, 35-44 Female on Treatment for 1 to ...",1
24,12/20/2007 12:21:47 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,5,1,"pf832001, 19-24 Male on Treatment for 1 to 6 ...",4
25,10/25/2007 7:33:33 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,4,2,"BillM, 55-64 Male on Treatment for 6 months t...",5
26,10/21/2007 9:29:23 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,5,1,"Dave, 55-64 Male on Treatment for 5 to less t...",5
27,10/4/2007 9:19:04 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,5,3,"crazy, 35-44 Female on Treatment for 1 to les...",5
29,3/26/2008 8:54:09 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,3,4,6,"mandy, 45-54 Female on Treatment for 2 to les...",3
30,3/23/2008 1:32:09 AM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,3,2,35-44 Female on Treatment for 1 to less than ...,2
31,3/16/2008 6:17:22 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,4,5,0,55-64 Female on Treatment for 2 to less than ...,3
32,1/18/2008 12:45:07 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,4,4,0,"joey, 55-64 Female on Treatment for 5 to less...",4
34,6/18/2008 7:58:34 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,2,1,2,"Anonymous, 45-54 Female on Treatment for 1 to...",1
35,6/8/2008 7:38:08 AM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,4,3,0,"sarahsmoou, 35-44 Female on Treatment for 1 t...",3
36,5/31/2008 11:17:32 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,3,4,0,"purplepatty, 55-64 Female on Treatment for 2 ...",3
37,5/19/2008 7:47:38 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,5,5,25-34 Female on Treatment for 2 to less than ...,5
39,3/1/2009 1:23:24 AM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,3,9,"dadsjane, 35-44 Female on Treatment for 1 to ...",1
40,2/23/2009 10:52:17 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,4,2,2,"Tanveer Ahmad, 35-44 Male on Treatment for 1 ...",2
41,1/28/2009 3:58:03 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,3,2,5,55-64 Male on Treatment for less than 1 month...,3
42,1/25/2009 7:26:50 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,2,0,45-54 Male on Treatment for 5 to less than 10...,3
43,6/1/2009 10:21:22 PM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,5,4,1,45-54 Male on Treatment for 5 to less than 10...,5
44,5/29/2009 6:51:14 AM,NaN,Type 2 Diabetes Mellitus,Glucophage oral,1,2,1,"Darlean, 35-44 Female on Treatment for 1 to 6...",1
...,...,...,...,...,...,...,...,...,...
5458,11/3/2016 1:01:03 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,2,2,3,"Concerned Nan, 65-74 on Treatment for 1 to 6 m...",2
5459,10/27/2016 9:04:40 AM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,1,3,8,65-74 Male on Treatment for 1 to 6 months (Pa...,2
5461,11/5/2017 12:19:10 AM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,4,4,5,"Quinnie, 55-64 on Treatment for 1 to 6 months ...",3
5462,10/25/2017 11:31:09 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,4,4,4,"rasputin1963, 45-54 on Treatment for 1 to 6 mo...",4
5463,8/6/2017 12:06:43 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,5,5,4,"Barry, 65-74 on Treatment for 1 to 6 months (P...",4
5464,6/23/2017 1:58:23 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,5,5,3,"Neil in Strasburg, 55-64 on Treatment for 2 to...",5
5466,3/17/2019 12:37:36 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,2,2,3,"TLB, 55-64 on Treatment for 1 to 6 months (Pat...",1
5467,3/3/2019 7:28:22 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,2,2,3,65-74 on Treatment for 1 to 6 months (Patient),1
5468,6/24/2018 4:03:32 PM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,3,4,1,"Brian, 55-64 Male on Treatment for 1 to less ...",2
5469,3/17/2018 10:00:48 AM,NaN,Additional Medication for Diabetes Type 2,Bydureon subcutaneous,3,3,6,55-64 on Treatment for 1 to less than 2 years ...,2
5471,12/12/2013 5:07:20 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,"Matt, 55-64 Male on Treatment for 1 to less t...",5
5472,9/23/2013 5:43:21 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,4,3,2,"blehog, 55-64 Male on Treatment for 1 to 6 mo...",4
5473,9/8/2013 10:11:24 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,2,65-74 on Treatment for 1 to less than 2 years ...,2
5474,8/17/2013 11:14:47 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,6,"Chocomom5566, 45-54 Female on Treatment for 1...",4
5476,1/14/2014 10:30:21 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,9,"ShadeyL, 55-64 Female on Treatment for 2 to l...",5
5477,1/2/2014 8:10:15 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,3,2,"kyle, 55-64 Male on Treatment for 1 to 6 mont...",3
5478,12/31/2013 1:24:53 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,4,9,"sweetsue, 65-74 Female on Treatment for 1 to ...",3
5479,12/29/2013 11:14:50 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,4,4,5,45-54 Female on Treatment for 1 to 6 months (...,4
5481,7/10/2014 5:06:02 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,8,"Happy numbers are lower, 25-34 Female on Trea...",5
5482,6/27/2014 8:22:44 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,4,3,"edgardner, 65-74 Male on Treatment for 1 to l...",4
5483,5/10/2014 2:20:01 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,3,2,1,65-74 Female on Treatment for less than 1 mon...,2
5484,5/6/2014 5:31:23 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,4,2,1,"mattye, 55-64 Female on Treatment for 1 to le...",3
5486,4/7/2015 1:11:37 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,55-64 Female on Treatment for 1 to 6 months (...,5
5487,11/7/2014 2:06:03 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,"WEHOck, 45-54 Male on Treatment for 1 to 6 mo...",5
5488,7/23/2014 4:26:58 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,2,45-54 Female on Treatment for 1 to less than ...,5
5489,7/18/2014 2:27:22 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,"Ohiofdavis, 45-54 Male on Treatment for 1 to ...",5
5491,3/1/2016 2:34:54 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,4,2,4,45-54 Female on Treatment for 1 to 6 months (...,1
5492,2/16/2016 1:38:06 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,2,2,3,"KeyWestMike, 55-64 on Treatment for 1 to 6 mon...",3
5493,8/9/2015 12:15:47 PM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,"Macgregorlass, 45-54 Female on Treatment for ...",5
5494,5/12/2015 11:59:38 AM,NaN,Type 2 Diabetes Mellitus,Victoza 2-Pak subcutaneous,5,5,1,"Jane, 65-74 Female on Treatment for 2 to less...",5

Note: Identified bugs in review parser that caused nulls in 'comment' field. There ARE some blank comments on WebMD, but not on 80% of reviews! The 253 null 'reviewer's are genuinely blank fields on the website.

Debugged spider to fix review parsing.  Before re-crawling, let's take a look at ratings fields (below).

Now let's see some summary stats for our ratings!

In [11]:
reviews.describe()

         easeofuse  effectiveness      helpful  satisfaction
count  5495.000000    5495.000000  5495.000000   5495.000000
mean      4.055505       3.442038     3.079709      3.052957
std       1.246186       1.425960     2.591082      1.596296
min       1.000000       1.000000     0.000000      1.000000
25%       3.000000       2.000000     1.000000      1.000000
50%       5.000000       4.000000     2.000000      3.000000
75%       5.000000       5.000000     5.000000      5.000000
max       5.000000       5.000000     9.000000      5.000000

Note: 'easeofuse', 'effectiveness', and 'satisfaction' fields are all 5-max ratings; however, 'helpful' is a counter where users upvote. '9' as a max isn't correct.  After reviewing site and finding examples from .loc table above, identified bug in code limiting to one integer. Fixed in code to allow more than 1 integer and rerun spider.

After debugging review parser for 'helpful' and 'comment' fields, re-crawling WebMD.

##### QA round 2:
...2 hours later...

Load 2nd-round file and QA again!

In [26]:
reviews = pd.read_csv('webmd_reviews2.csv')

In [27]:
reviews.sample(10)

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction
4320,2/5/2009 10:15:18 PM,"I have been on Byetta for one week now, and si...",Additional Medication for Diabetes Type 2,Byetta subcutaneous,3,4,1,"masuccij, 45-54 Male on Treatment for 5 to le...",3
3687,6/4/2013 11:08:03 AM,my type 2 diabetes has remained relatively unc...,Type 2 Diabetes Mellitus,Actos oral,3,2,16,"james, 75 or over Male on Treatment for 2 to ...",2
2332,9/21/2007 1:06:43 AM,does it cause gas..im having a gas problem..i ...,Type 2 Diabetes Mellitus,Avandamet oral,5,5,10,"smichel6112, 55-64 Female on Treatment for 2 ...",5
1210,9/2/2009 6:13:28 PM,Good reactions -generally--\r\nvery responsive...,Type 2 Diabetes Mellitus,metformin oral,5,4,2,55-64 Female on Treatment for 2 to less than ...,4
4218,4/14/2008 7:11:22 PM,DX with Type 2 diabetes. On Byetta for 16 mon...,Additional Medication for Diabetes Type 2,Byetta subcutaneous,5,5,18,75 or over Female on Treatment for 1 to 6 mon...,5
2120,5/17/2013 11:17:37 AM,I used this medicine for three months. My su...,Type 2 Diabetes Mellitus,Jentadueto oral,4,4,6,"MommE2, 45-54 Female on Treatment for less th...",3
2373,1/8/2016 10:18:32 AM,Started Trulicity October 2015. A1C was 12 and...,Type 2 Diabetes Mellitus,Trulicity subcutaneous,1,1,30,"Jltc, 55-64 Female on Treatment for less than...",1
1408,7/12/2010 8:33:18 AM,"It does help lower blood sugar, however, I get...",Type 2 Diabetes Mellitus,metformin oral,4,3,5,"gego, 65-74 Female on Treatment for 2 to less...",2
1732,4/7/2013 3:24:43 PM,Started taking this in July of 12. 1000 mg twi...,Type 2 Diabetes Mellitus,metformin oral,5,3,46,NaN,3
4984,4/16/2009 9:28:14 AM,no fuss-no muss-easey to use and no problems,Type 2 Diabetes Mellitus,glipizide oral,5,5,4,"teachmjk, 45-54 Female on Treatment for 1 to ...",5

In [28]:
np.sum(reviews.isnull())

Rdate              0
comment            9
condition          0
drug               0
easeofuse          0
effectiveness      0
helpful            0
reviewer         253
satisfaction       0
dtype: int64

In [29]:
reviews.describe()

         easeofuse  effectiveness      helpful  satisfaction
count  5495.000000    5495.000000  5495.000000   5495.000000
mean      4.055505       3.442038     9.202002      3.052957
std       1.246186       1.425960     9.672916      1.596296
min       1.000000       1.000000     0.000000      1.000000
25%       3.000000       2.000000     3.000000      1.000000
50%       5.000000       4.000000     7.000000      3.000000
75%       5.000000       5.000000    13.000000      5.000000
max       5.000000       5.000000    79.000000      5.000000

This looks more like it!

#### Exploratory Data Analysis